{% extends "base.html" %}
{% block content %}
    <h1>{{ category.name }}</h1>
    {% for product in category.products %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a>
                </h5>
                <p class="card-text">
                    <span class="badge badge-primary">{{ product.quantity }}</span> available
                </p>
                <p class="card-text">
                    <strong>Price:</strong>  {{ product.price }} Rupees
                </p>
            </div>
        </div>
    {% endfor %}
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
{% endblock %}
